
<ul class="list-group"  >
    <li class="list-group-item bg-light" style="margin-block: 10px;" style="color: mediumvioletred;"><h4> Employee Details</h4> </li>
    <h6 style=" margin: 4px;"> <strong style="color: mediumvioletred;">id : </strong> {{employee ? employee.id : ''}} </h6>
    <h6 style="margin: 4px;"><strong style="color: mediumvioletred;">name : </strong> {{employee ? employee.name : ''}} </h6>
    <h6 style="margin: 4px;"><strong style="color: mediumvioletred;">hr_code : </strong> {{employee ? employee.hr_code : ''}} </h6>
    <h6 style="margin: 4px;"><strong style="color: mediumvioletred;">Email : </strong> {{employee ? employee.email : ''}} </h6>
    <h6 style="margin: 4px;"><strong style="color: mediumvioletred;">Mobile Number : </strong> {{employee ? employee.mobile_number : ''}} </h6>
</ul>
